nltk
pdfminer.six
streamlit
groq
gTTS
python-dotenv
SpeechRecognition
streamlit-mic-recorder
fpdf
pandas
streamlit-lottie
streamlit-ace
fastapi
uvicorn
python-multipart
pydub
ffmpeg-python
